<div class="episodeViewContainer">
	<div class="audioPanel">
		<h3> {{selectedEpisode.title}} </h3>
		<audio controls src="{{selectedEpisode.audio}}" type="audio/mpeg"></audio>
	</div>
	<div class="episodes">
		<mat-card class="episodeCard" *ngFor="let episode of episodes" (click)="setSelected(episode)">
			<mat-card-header>
				<!-- <mat-card-subtitle> {{episode.number}} </mat-card-subtitle> -->
			</mat-card-header>
			<img mat-card-image src="{{episode.img}}">
			<mat-card-footer> 
				<mat-card-title> {{episode.number}} </mat-card-title>
			</mat-card-footer>
		</mat-card>
	</div>
</div>