.audioPanel {
	position: fixed;
	width: 100%;
	top: 100%;
	left: 0;
	z-index: 100;
	text-align: center;
	transition: transform .6s ease;
	padding: 10px;
	background-color: black;
	color: white;
}

.closeBtn {
	float: right;
	margin: 10px;
}

.episodes {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	background-color: white;
}

.episodeCard {
	width: auto;
	max-width: none;
	margin: .625rem;
}


.episodeCard:Hover {
	background-color: lightyellow;
	color: black;
}

.spacer {
	display: flex;
	flex: 1 1 1;
}

@media only screen and (min-width: 500px) {
	.episodes {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		
	}
	.episodeCard {
		display: inline-block;
		width: 35%;
		max-width: 12em;
	}
}