.episodeViewContainer {
	display: grid;
	grid-template-columns: 0 1fr;
	grid-template-rows: auto;
	grid-template-areas: "audioPanel episodes";
	transition: 0.5s;
}

.audioPanel {
	grid-area: audioPanel;
	background-color: white;
	color: black;
	max-width: 300px;
	padding: .625em;
	overflow-x: hidden;
	width: 0px;
	transition: 0.7s;
}

.closeBtn {
	float: right;
}

audio {
	margin-top: 10px;
	float: bottom;
}

.episodes {
	grid-area: episodes;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: white;
}

.episodeCard {
	display: inline-block;
	margin: .625em;
	width: 35%;
	max-width: 12em;
}

.episodeCard:Hover {
	background-color: lightyellow;
	color: black;
}

/* Style page content - use this if you want to push the page content to the right when you open the side 
navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
