<div id="audioPanel" class="audioPanel">
	<button mat-raised-button color="primary" class="closeBtn" (click)="close()">X</button>
	<div class="title">{{selectedEpisode.title}}</div><br/>
	<mat-icon *ngIf="!this.activeAudio" style="font-size: 3em" (click)="playAudio()">play_circle_outline</mat-icon>
	<mat-icon *ngIf="this.activeAudio" style="font-size: 3em" (click)="pauseAudio()">pause_circle_outline</mat-icon>
</div>
<div id="episodes" class="episodes">
	<mat-card class="episodeCard" *ngFor="let episode of episodes" (click)="setSelected(episode)">
		<mat-card-header ></mat-card-header>
		<img mat-card-image src="{{episode.imageLoc}}">
	</mat-card>
</div>

