.episodeViewContainer {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto;
	grid-template-areas: "audioPanel episodes";
	grid-column-gap: 1em;
}

.audioPanel {
	grid-area: audioPanel;
	max-width: 300px;
	padding: .625em;
}

.closeBtn {
	float: right;
}

audio {
	margin-top: 10px;
	float: bottom;
}

.episodes {
	grid-area: episodes;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.episodeCard {
	display: inline-block;
	margin: .625em;
	width: 40%;
	max-width: 10em;
}

.episodeCard:Hover {
	background-color: lightyellow;
	color: black;
}