<div class="rootContainer">
	<div class="topLeftTile">
		<img alt="HotCakesHotTakes" src="../../assets/images/HCHT_covershot.jpg">
	</div>
	<div class="topRightTile">
		<h1> About </h1>
	</div>
	<div class="bottomLeftTile">
		<h1> Episodes </h1>
	</div>
	<app-episodes class="bottomRightTile"></app-episodes>

	<audio class="audioPlayer" controls>
		<source src="../../assets/mp3/002.mp3" type="audio/mpeg">
	</audio>
</div>


<!-- <div class="header"></div>

<body>
	<div class="mainSquare">
		<div class="tile">
			<div class="topLeftTile">
				<img alt="HotCakesHotTakes" src="../../assets/images/HCHT_covershot.jpg">
			</div>
		</div>
		<div class="tile">
			<div class="topRightTile">
				<h1> About </h1>
			</div>
		</div>
		<div class="tile">
			<div class="bottomLeftTile">
				<h1> Episodes </h1>
			</div>
		</div>
		<div class="tile">
			<app-episodes></app-episodes>
		</div>
	</div>
</body>

<div class="footer"></div> -->



