.rootContainer {
	font-family: 'Roboto', sans-serif;
}
.title {
	font-size: 1.5rem;
}
.slogan {
	font-size: .75rem;
}
.titleBox {
	display: inline-block;
	padding-right: 20px;
	border-right: 2px solid white;
}