.rootContainer {
	font-family: 'Roboto', sans-serif;
	width: 100%;
}

.header mat-card {
	width: 100%;
}

.title {
	font-size: 1.5rem;
}
.slogan {
	font-size: .75rem;
}

.titleBox {
	text-align: center;
}
