.rootContainer {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas: "header header" "TopLeft TopRight" "BottomLeft BottomRight" "audio audio";
	justify-content: center;
	grid-column-gap: 1px;
	grid-row-gap: 2px;
}

.topRightTile, .topLeftTile, .bottomLeftTile, .bottomRightTile {
	display: grid;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 300px;
	width: 300px;
}

.topLeftTile {
	grid-area: TopLeft;
}

.topRightTile {
	grid-area: TopRight;
}

.bottomLeftTile {
	grid-area: BottomLeft;
}

.bottomRightTile {
	display: grid;
	grid-area: BottomRight;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: "archive . ." ". . ." ". . .";
}

.episodes, .archive {
	display: grid;
	align-items: center;
	width: 100%;
	height: 100%;
	justify-content: center;
	border: 1px solid black;
}

img {
	width: 100%;
	height: 100%;
}

.audioPlayer {
	grid-area: audio;
	width: 100%;
	height: 40px;
	padding: 10px;
}
	
.episodeTile:hover {
	background-color: lightyellow;
}

